/* NAVIGATION */

header{
    .nav-primary{
        ul{
            @apply flex justify-between font-semibold;

            .current-menu-item{
                @apply text-orange;
            }
        }
    }
}

/* Mobile Side Nav */

.sidenav {
    @apply h-full w-0 fixed z-10 top-0 right-0 bg-orange pt-40;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidenav a {
    @apply block text-white text-2xl no-underline py-4 pr-4 pl-8;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    @apply absolute top-0 text-4xl right-6 ml-12;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
        @apply pt-4;
    }
    .sidenav a {
        @apply text-lg;
    }
  }