header{
    .nav-primary{
        ul{
            @apply flex justify-between font-semibold;

            .current-menu-item{
                @apply text-orange;
            }
        }
    }
}

/* NAVIGATION */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f44a0c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 160px;
  }
  
  .sidenav a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }